<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <aspNetCore processPath="dotnet"
                  arguments=".\IhsanAI.Api.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess"
                  requestTimeout="00:05:00"
                  startupTimeLimit="120">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>

      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" />
          <verbs applyToWebDAV="false">
            <remove verb="OPTIONS" />
            <add verb="OPTIONS" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>

      <modules>
        <remove name="WebDAVModule" />
      </modules>

      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="https://muhasebe.sigorta.teklifi.al" />
          <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS, PATCH" />
          <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With, Accept, Origin" />
          <add name="Access-Control-Allow-Credentials" value="true" />
          <add name="Access-Control-Max-Age" value="86400" />
        </customHeaders>
      </httpProtocol>

      <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
</configuration>
